# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.tripenv/
tripplannerlib/
cleanenv/

# Streamlit
.streamlit/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data (optional depending on your project)
data/app_state.json
data/feedback.jsonl
